.modalWrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgb(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal {
    width: 600px;
    height: 200px;
    justify-content: center;
    background: #eeeeee;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.text {
    font-size: 30px;
    cursor: default;
}

.wrapper {
    margin: 20px 0 0 0; 
    display: flex;
    gap: 20px;
}